name: CI
on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        packages:
          - libdns
          - provider
    permissions:
      contents: read # To checkout

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6

      - run: go build ./... 
        working-directory: ${{ matrix.packages }}

  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read # To checkout
      pull-requests: write # To comment to PRs
    steps:
      - uses: actions/checkout@v6

      - uses: reviewdog/action-markdownlint@v0
        with:
          reporter: github-pr-review

      - uses: reviewdog/action-misspell@v1
        with:
          reporter: github-pr-review
